//Declaracion de variables
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$dark: #292a2b;
$white: #fff;
$grey_light: #CCCCCC;
$gray: #adb5bd;
$green-white: #edf4eb;
$dark-green: darkolivegreen;
//ancho y alto para el viewport.
$full-width: 100vw;
$full-height: 100vh;
//Probamos las posibilades de Sass en la creacion de variables
$bg-color: $green;
$br-1: .3rem;
$border-width: "1px";
$border-style: "solid";
$border-color: $dark;
//Ruta estandar para las imagenes
$base-path: "../img/";


//valores numericos
$margin-top: 30 * 1px;
$mt-3: 5 * 1em;
$mt-2:_3 em;
//Fuentes
$rubik: 'Rubik', sans-serif;
$titillium:'Titillium Web', sans-serif;